[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/lodepng"]
	path = lib/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "lib/gl3w"]
	path = lib/gl3w
	url = https://github.com/skaslev/gl3w
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
